.card{
    -moz-perspective: 150rem;
    perspective: 150rem;
    position: relative;
    height: 40rem;
    @include respond(tab-port){
        height: 50rem;
    }
    @include respond(phone){
        height: 55rem;
    }
    &__side{
        background-color: orangered;
        height: 40rem;
        @include respond(tab-port){
            height: 50rem;
        }
        @include respond(phone){
            height: 55rem;
        }
        transition: all .8s;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        backface-visibility: hidden;
        border-radius: 3px;
        overflow: hidden;
        box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, .15);

        &--front{
            background-color: #ffff;
        }
        &--back{
            transform: rotateY(180deg);
            &-1{
                background-image: linear-gradient(to right bottom,$color-secondary-light,$color-secondary-dark);
            }
            &-2{
                background-image: linear-gradient(to right bottom,$color-primary-light,$color-primary-dark);
            }
            &-3{
                background-image: linear-gradient(to right bottom,$color-tertiary-light,$color-tertiary-dark);
            }
        }

    }

    &:hover &__side--front{
        &:hover{
            transform: rotateY(-180deg);
        }
    }
    &:hover &__side--back{
            transform: rotateY(0deg);
    }

    &__picture{
        height: 20rem;
        @include respond(tab-port){
            height: 25rem;
        }
        background-size: cover;
        background-blend-mode: screen;
        -webkit-background-clip: polygon(0 0,100% 0,100% 85%,0 100%);
        clip-path: polygon(0 0,100% 0,100% 85%,0 100%);
        &-1{
            background-image:  linear-gradient(to right bottom,$color-secondary-light,$color-secondary-dark),url('./img/nat-5.jpg');
        }
        &-2{
            background-image: linear-gradient(to right bottom,$color-primary-light,$color-primary-dark),url('./img/nat-7.jpg');
        }
        &-3{
            background-image: linear-gradient(to right bottom,$color-tertiary-light,$color-tertiary-dark),url('./img/nat-6.jpg');
        }
    }
    &__heading{
        font-size: 2.3rem;
        font-weight: 400;
        color: #fff;
        text-transform: uppercase;
        position: absolute;
        top: 12rem;
        @include respond(tab-port){
            top: 17rem;
            font-size: 3rem;
        }
        @include respond(phone){
            font-size: 3.4rem;
        }
        right: 2rem;
        text-align: right;
        width: 75%;
        &-span{
             padding: .5rem .7rem;
             -webkit-box-decoration-break: clone;
             box-decoration-break: clone;
            &-1{
                background-image: linear-gradient(to right bottom,rgba($color-secondary-light,.85),rgba($color-secondary-dark,.85));
            }
            &-2{
                background-image: linear-gradient(to right bottom,rgba($color-primary-light,.85),rgba($color-primary-dark,.85));
            }
            &-3{
                background-image: linear-gradient(to right bottom,rgba($color-tertiary-light,.85),rgba($color-tertiary-dark,.85));
            }
        }
    }
    &__details{
        ul{
         list-style: none;
         width: 80%;
         margin: 1rem auto;
            li{
                font-size: 1.3rem;
                @include respond(tab-port){
                    font-size: 1.8rem;
                }
                @include respond(phone){
                    font-size: 2.3rem;
                }
                text-align: center;
                padding: .8rem;
                &:not(:last-child){
                    border-bottom: 1px solid #eee;
                }
            }
        }
    }
    &__cta{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 90%;
        text-align: center;
    }
    &__price-box{
            text-align: center;
            margin-bottom: 5rem;
            color: #fff;
    }
    &__price-only{
            font-size: 1.4rem;
            text-transform: uppercase;
            @include respond(tab-port){
                font-size: 1.8rem;
            }
            @include respond(phone){
                font-size: 2rem;
            }
            
    }
    &__price-value{
            font-size: 4rem;
            font-weight: 300;
            @include respond(tab-port){
                font-size: 4.5rem;
            }
            @include respond(phone){
                font-size: 5rem;
            }
    }
}